### Lists denoted by []

In [2]:
a = [1, 2, 3]

In [4]:
type(a)

list

In [5]:
a = list([2,3,4,5])

In [6]:
a

[2, 3, 4, 5]

In [7]:
a = list()
a

[]

In [8]:
a = [1,2,3,4,5]

In [10]:
a[3]

4

#### Lists are mutable

In [12]:
a[3] = 40
a

[1, 2, 3, 40, 5]

#### Lists can store any type of data

In [13]:
a = [1,2,"abs", 3.4]
a

[1, 2, 'abs', 3.4]

In [14]:
a = ['abc', True]
a

['abc', True]

In [15]:
a[0] = 12
a

[12, True]

In [16]:
a = [[1,2,3],4,5,"abc"]
a

[[1, 2, 3], 4, 5, 'abc']

#### Initalize List using loops

In [17]:
b = [0 for i in range(10)]
b

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [18]:
b = [i for i in range(10)]
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
b = [i*i for i in range(10)]
b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
a = [1,3,4,5]
len(a)

4

In [21]:
b = [6,7,3]

In [22]:
a + 3

TypeError: can only concatenate list (not "int") to list

In [23]:
a + b # concatnation of list

[1, 3, 4, 5, 6, 7, 3]

In [24]:
a * b

TypeError: can't multiply sequence by non-int of type 'list'

In [25]:
a * 3  # copying list 'a' 3 times

[1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5]

### Add data to List

In [28]:
# add data to the end
a.append(6)
a

[1, 3, 4, 5, 6, 6, 6]

In [29]:
# add data to specific index   index(idx, data)
a.insert(0,3)
a

[3, 1, 3, 4, 5, 6, 6, 6]

In [31]:
a.extend(b) # extend list a by concatnate list b into a.
a

[3, 1, 3, 4, 5, 6, 6, 6, 6, 7, 3, 6, 7, 3]

#### remove(data)  remove first occurance of given data

In [32]:
# delete data
a.remove(5)
a

[3, 1, 3, 4, 6, 6, 6, 6, 7, 3, 6, 7, 3]

In [33]:
a.remove(6) # remove first occurance of '6'
a

[3, 1, 3, 4, 6, 6, 6, 7, 3, 6, 7, 3]

#### pop(idx) remove data from given index

In [34]:
a.pop(0)
a

[1, 3, 4, 6, 6, 6, 7, 3, 6, 7, 3]

In [35]:
del a[4]  # delete data from list 
a

[1, 3, 4, 6, 6, 7, 3, 6, 7, 3]

In [36]:
a.sort()
a

[1, 3, 3, 3, 4, 6, 6, 6, 7, 7]

In [37]:
print(b)
max(b)

[6, 7, 3]

7

#### careful with sort() and max() for lists

In [38]:
b = [1,2,0,"abc"]
print(b)
max(b)

[1, 2, 0, 'abc']

TypeError: '>' not supported between instances of 'str' and 'int'

In [40]:
b.index(0)

2

In [41]:
b.index(100)

ValueError: 100 is not in list

In [42]:
# check data is in list 
100 in b

False

In [44]:
"abc" in b

True

In [45]:
b.index("abc")

3