### Sets are used to maintain some thing unique
#### Sets doesn't have any ordered

In [1]:
a = {"apple", "abc", 23}
a

{23, 'abc', 'apple'}

In [2]:
type(a)

set

In [3]:
a[0]

TypeError: 'set' object is not subscriptable

In [4]:
a['abc']

TypeError: 'set' object is not subscriptable

### Sets are just like Dictionary. But simple difference that in set, if key is present then it's corresponding value be 'True' else it's 'False'

In [5]:
'abc' in a

True

In [6]:
'aba' in a

False

In [7]:
for v in a:
    print(v)

abc
apple
23

### In sets ordered will not maintained

In [8]:
b = {4, 5, 2, 8, 3, 'a', 'z', 'Z', 'b', 'A', 10}
b

{10, 2, 3, 4, 5, 8, 'A', 'Z', 'a', 'b', 'z'}

In [9]:
for x in b:
    print(x)

2
3
4
A
5
8
b
10
z
a
Z

In [10]:
len(b)

11

In [11]:
len(a)

3

### Add and Update data into set

In [12]:
a.add("temp")
a

{23, 'abc', 'apple', 'temp'}

In [13]:
b = {'abc', 'ghi'}
b

{'abc', 'ghi'}

In [14]:
a.update(b)
a

{23, 'abc', 'apple', 'ghi', 'temp'}

### Delete Data

In [15]:
a.remove('temp')

In [16]:
a.remove('rrrr')

KeyError: 'rrrr'

In [17]:
a.discard(23)
a

{'abc', 'apple', 'ghi'}

In [18]:
a.discard('rrrr')
a

{'abc', 'apple', 'ghi'}

In [19]:
a.pop() # pop() method remove random one element from set

'apple'

In [20]:
a

{'abc', 'ghi'}

In [21]:
a.clear()
a

set()

In [22]:
del a

In [23]:
a

NameError: name 'a' is not defined

### Specifics functions to Sets

In [24]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [25]:
a.intersection(b)

{3, 4}

In [26]:
b.intersection(a)

{3, 4}

In [27]:
a.union(b)

{1, 2, 3, 4, 5, 6}

### difference() method return those elements of set 'a' which is not a part of set 'b'

In [28]:
a.difference(b)

{1, 2}

In [29]:
b.difference(a)

{5, 6}

### symmetric diifference = union - difference

In [30]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [31]:
a.intersection_update(b)
a

{3, 4}

In [33]:
a = {1, 2, 3, 4}
a.difference_update(b)
a

{1, 2}

In [34]:
a = {1, 2, 3, 4}
a.symmetric_difference_update(b)
a

{1, 2, 5, 6}

### No Union Update

In [35]:
a = {1, 2, 3, 4}
a.union_update(b)
a

AttributeError: 'set' object has no attribute 'union_update'

In [36]:
a = {1, 2, 3, 4}
a.issubset(b)

False

In [38]:
c = {3, 4}

In [39]:
a.issubset(c)

False

In [40]:
c.issubset(a)

True

In [41]:
a.issuperset(c)

True

In [42]:
a.isdisjoint(c)

False

In [43]:
d = {7, 8}
a.isdisjoint(d)

True

### Find sum of all Unique Number in List

In [44]:
a = {1, 2, 3, 1, 3}
len(a)

3

In [45]:
a

{1, 2, 3}

In [47]:
a.add(2)
a

{1, 2, 3}

In [48]:
s = {}
print(type(s))
s.add(1)

<class 'dict'>

AttributeError: 'dict' object has no attribute 'add'

In [49]:
def sumUnique(l):
    s = set()
    for i in l:
        s.add(i)
    sum = 0
    for i in s:
        sum = sum + i
    return sum

In [50]:
sumUnique([1,2,3,4,4,3,4,2,1,5,5])

15