In [2]:
a = (1,2)

In [3]:
print(a)
print(type(a))

(1, 2)
<class 'tuple'>

In [4]:
b, c = 3, 4

print(b)
print(c)

e = 5,6
print(e)
print(type(e))

3
4
(5, 6)
<class 'tuple'>

In [8]:
e[0], e[1], e[-1], e[-2]

(5, 6, 6, 5)

In [9]:
e = (5,4,3,2,1)
e

(5, 4, 3, 2, 1)

In [12]:
f = (1,2,3,4,5,6)
print(f[0:3])
print(f[3:])

(1, 2, 3)
(4, 5, 6)

### Tuples are immutable and Lists are mutable

In [13]:
f[4] = 34

TypeError: 'tuple' object does not support item assignment

In [14]:
del f[4]

TypeError: 'tuple' object doesn't support item deletion

In [15]:
#delete tuple is fine but you can't delete entity of tuple
del f
f

NameError: name 'f' is not defined

### Tuple's functions

In [16]:
a = (4,5,6)
b = 4,5

In [18]:
for i in a:
    print(i)

4
5
6

In [25]:
5 in a

True

In [21]:
1 in b

False

In [24]:
5 in a, 1 in b

(True, False)

In [26]:
len(a)

3

#### Concatenations

In [27]:
c = a + b
c

(4, 5, 6, 4, 5)

In [29]:
len(c)

5

#### Tuple of tuple

In [31]:
d = (a,b)
d

((4, 5, 6), (4, 5))

#### Create tuple 'a' 4 times

In [32]:
e = a * 4
e

(4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6)

In [34]:
min(a), max(a)

(4, 6)

In [35]:
a2 = (1, 2, 'a', (1,2))
min(a2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [36]:
a2 = (1, 2, (1,2))
min(a2)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [37]:
a2 = (1, 2.2)
min(a2)

1

In [38]:
#list to tuple
l = [1,2,3,4,5]
tuple(l)

(1, 2, 3, 4, 5)